<h3>Example Widget</h3>
<ul>
    <li>Rendered: <f:format.date format="Y-m-d H:i:s">{currentdate}</f:format.date></li>
    <li>cacheLifetime: {cacheLifetime} (seconds)</li>
    <li>exampleSetting: {exampleSetting}</li>
</ul>